* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6vtkXDZg9mmvyJBligbs5QkKXbKAlaRYQBmhvzGPcbg&s=10); */
  background-image: url("../images/homepage_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.stroke-text {
  color: #ffffff;
  -webkit-text-stroke: 2px #000000;
}

#head {
  text-align: center;
  font-size: 2em;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 100px;
}

.login-form {
  color: black;
  background-color: rgba(76, 76, 76, 0.9);
  text-align: center;
  width: 100%;
  max-width: 700px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Центрирование по вертикали */
  align-items: center;
  font-size: 2em;
  font-family: "Arial";
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 3px;
  border-width: 3px;
  border-top-style: solid;
  border-top-color: rgb(255, 217, 0);
  border-radius: 15px;
  padding: 40px;
  padding-bottom: 100px;
  padding-top: 100px;
}

.big-input {
  width: 100%; /* Задает ширину поля */
  max-width: 600px;
  height: 90px; /* Задает высоту поля */
  font-size: 40px; /* Увеличивает размер вводимого текста */
  padding: 5px 15px; /* Добавляет отступы внутри поля для аккуратности */
}

#user-name,
#user-password,
#user-password-repeat {
  border-radius: 10px;
  border-width: 12px;
  border-color: rgb(247, 223, 7);
  margin-bottom: 20px;
  background-color: beige;
}

#user-name:focus,
#user-password:focus,
#user-password-repeat:focus {
  background-color: rgb(255, 217, 190);
}

#user-name:hover,
#user-password:hover,
#user-password-repeat:hover {
  border-color: rgb(238, 198, 0);
}

#user-name {
  margin-bottom: 60px;
}

#submit-button {
  border-radius: 15px;
  border-width: 10px;
  /* border-color: rgb(49, 81, 102); */
  border-color: rgb(193, 138, 0);
  margin-top: 100px;
  margin-bottom: 30px;
  background-color: rgb(255, 255, 255);
  letter-spacing: 0.1em;
  font-family: Arial, Helvetica, sans-serif;
}

#submit-button:hover {
  border-color: rgb(49, 81, 102);
}

input {
  font-family: "Playfair Display", sans-serif;
  font-size: 40px;
  color: #333333;
  font-weight: 500;
  text-align: center;
}

input::placeholder {
  font-family: "Arial", sans-serif;
  font-size: 30px;
  font-style: italic;
  color: grey;
}

#register-link {
  color: white;
}

#register-link:hover {
  color: yellow;
}

#user-password-repeat {
  margin-top: 25px;
}
