* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../images/homepage_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
}

#welcome-text {
  color: yellow;
  font-size: 80px;
  letter-spacing: 15px;
  margin-bottom: 20px;
}

#logout-button {
  font-family: "Playfair Display";
  font-size: 30px;
  background-color: rgb(168, 96, 96);
  color: white;
  padding: 15px;
  border-radius: 30px;
  border-color: black;
  border-width: 5px;
  position: absolute;
  top: 20px;
  right: 20px;
}

#logout-button:hover {
  border-color: red;
}

/* Обертка, чтобы кнопка и карточки были друг под другом */
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Отступ между кнопкой и карточками */
  width: 100%;
  max-width: 1200px;
}

/* Сетка для карточек */
#words-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
  padding: 40px;
}

/* Стили самой карточки */
.word-card {
  background-color: beige; /* Полупрозрачный белый фон */
  border: 6px solid #3d3d3d;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;

  width: 100%;
  max-width: 250px;
}

.word-card:hover {
  transform: translateY(-5px); /* Легкий эффект подъема при наведении */
}

/* Стили текста внутри карточки */
.word-origin {
  font-family: "Playfair Display", serif;
  font-size: 28px;
  color: #333;
  font-weight: 700;
  margin-bottom: 8px;
  text-transform: capitalize;
}

.word-translation {
  font-family: "Arial", sans-serif;
  font-size: 22px;
  color: #666;
  font-style: italic;
  text-transform: capitalize;
}

#start-quiz-button {
  font-size: 50px;
  font-family: "Playfair Display";
  padding: 15px;
  border-radius: 20px;
  background-color: rgb(255, 240, 153);
  border-width: 10px;
}

#start-quiz-button:hover {
  border-color: gold;
}
