* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../images/homepage_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#get-words-button {
  background-color: yellow;
  font-size: 50px;
  font-family: "Playfair Display";
  border-radius: 20px;
  border-color: rgb(61, 61, 61);
  border-width: 10px;
}
#get-words-button:hover {
  border-color: grey;
}
